

#bgVideo{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

/*
.video-container{
  pointer-events: none;
  z-index: 0;
  position: absolute;
  top: 0rem;
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  height: 100%;
  width: 100%;
	
}
*/

/*
.video-container video {
	   background-image: url('*** Poster image goes here ***'); 
  background-size: cover;
  height: auto;
  min-width: 100%;
  min-height: 100vh;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: auto;
  position: absolute;
  top: 50%;
  right: 0rem;
  bottom: 0rem;
  left: 50%;
}*/


.video-background {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}